@model List<Message>




<style>
    tr td {
        font-family: "Roboto Condensed", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 1.2rem !important;
    }

</style>

<div class="col-lg grid-margin stretch-card">
    <div class="card mt-4">
        <div class="card-body">
            <h4 class="card-title">Trash</h4>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Sender Name</th>
                            <th>Receiver Name</th>
                            <th>Subject</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td> <a>Sender:</a> @item.SenderName</td>
                                <td> <a>Receiver:</a> @item.ReceiverName</td>
                                <td>@item.Subject</td>
                                <td>@item.Date.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <a asp-action="InboxMessageDetails" asp-route-id="@item.MessageId" class="btn btn-info">View</a>
                                    <a asp-action="TrashOutMessages" asp-route-id="@item.MessageId" class="btn btn-dark btn-rounded btn-fw">Restore</a>
                                    <a asp-action="TrashMessagesDelete" asp-route-id="@item.MessageId" class="btn btn-outline-danger btn-fw">Delete</a>

                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>